.card {
  border: 1px solid rgb(102, 98, 98);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  margin: 10px;
}

.card:hover {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  color: white;
  background-color: rgba(0, 0, 0, 0.747);
}

.card-image {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 45px;
}

.card-content h3 {
  margin-top: 0;
}

.card-content p {
  margin-bottom: 0;
}
