/* Login.css */
.login {
  width: 300px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  margin: auto;
  margin-top: 40px;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* Adjust as needed */
}
.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #333;
}
.login h2 {
  text-align: center;
  padding: 4px 0px;
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}
.login-form {
  padding: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.login-form label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
}
.login-form span {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: red;
}
.login-form .close-icon {
  text-align: right;
}
.login-form button {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.login-form input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.login-form button:hover {
  background-color: #0056b3;
}
.login-form a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}
.login-form a:hover {
  text-decoration: underline;
}
